.user-info {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 10px;
}

.user {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-info span {
  text-decoration: underline;
}

section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.title {
  padding-bottom: 40px;
}

.title h1 {
  font-size: 3rem;
}
