.input-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-container a {
  color: inherit;
}

.input-container div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.title h1 {
  font-size: 3rem;
  text-shadow: 0 1px 0 oklch(100% 0 0 / calc(1 * 0.15));
}

main {
  display: flex;
  width: 100%;
  height: 100dvh;
  justify-content: center;
  align-items: center;
}

.username,
.password {
  display: flex;
  align-items: center;
  gap: 5px;
}
