:root {
  --fg-color: #adb2cf;
  --bg-color: #1e202c;

  --input-border-color: #adb2cf5d;
  --table-border: #4f55725d;

  --default-font: "Inter Variable", sans-serif;
  --monospace-font: "Geist Mono Variable", monospace;
}

* {
  color-scheme: dark;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

body {
  background: var(--bg-color);
  color: var(--fg-color);
  font-family: var(--default-font);
}

input {
  padding: 15px 20px;
  outline: none;
  border: solid 1px oklch(10% 0 0 / calc(1 * 50%));
  background: #191a27;
  font-family: inherit;
  font-size: inherit;
  border-radius: 5px;
}

input:focus {
  border: solid 1px oklch(50% 1 0 / calc(1 * 100%));
  box-shadow: 0 5px 10px oklch(10% 0 0 / calc(1 * 20%));
}

input::placeholder {
  color: rgb(133, 145, 155);
}
