:root {
  --fg-color: #adb2cf;
  --bg-color: #1e202c;

  --default-font: "Inter Variable", sans-serif;
}

* {
  color-scheme: dark;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  color: var(--fg-color);
  font-family: var(--default-font);
}
